html {
   background-color: white;
}

.containerUserSettings {
    margin: 3rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(12, 40, 78);
    border-radius: 2rem;
    color: white;
}

.name {
    position: relative;
    padding: 0 0 0 350px;
    color: #000;
    font-size: 50px;

}

.text {
    padding: 0 0 0 50px;
}
.contentPage {
    padding: 0 0 0 50px;
}

.nav-config {
    padding: 0 0 0 50px;
}
