* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
html {
    background-color: #212121;
}
.icon {
    margin: 35px 0 15px 45px ;
}
.container {
    width: 1070px;
    height: 879px;
    background-color: rgb(12 , 40, 78);
    margin: 90px 408px -377px 408px;
    border: 55px;
    border: 55px;
    border-radius: 35px;
    color: azure;
       
}
.text {
    justify-content: center;
    margin: 50px 14px 0px 43px ;
    font-size: large;
    line-height: 25px;
    
}
#head {
   display: flex;
   flex-wrap: nowrap;
  
}
.nav-config {
    background-color: #706f6f;
     font-size: 1em;
}
#users-configPosts {
    width: 6em;
    margin: 5px;
}
#users-configSettings {
    margin: 5px;
}
.buttons {
    font-size: 20px;
    border-bottom: #212121;
    margin: 12px 6px; 
    color: black;
    min-width: -webkit-fill-available;
    height: 4em;
    cursor: pointer;
    transition: ease .2s;
    display: grid;
    border-bottom: #212121;
    justify-content: space-between;
    width: -webkit-fill-available;
}
.color-body {
    background: rgb(94, 93, 93);
    border: none;
    border-radius: 1em;
    border: solid #212121;
    margin: 50px;
    display: flex;
   flex-wrap: nowrap;
}
#texto {
    justify-content: center;
    margin: 0px 0px 11em 13px ;
    font-size: large;
    line-height: 25px;
    border-color: #212121;
}
#editPost {
    font-size: 20px;
    margin: 3em 0em 0em; 
    color: black;
    cursor: pointer;
    transition: ease .2s;
    border-bottom: #212121;
    border: solid rgb(0, 163, 255);
    background-color: rgb(77, 127, 186);

}
#erasePost {
    font-size: 20px;
    margin: 12px 6px; 
    color: black;
    cursor: pointer;
    transition: ease .2s;
   border: solid rgb(192, 15, 12);
    background-color: rgb(74, 75, 77);
}
.body {
    border-right: solid black;
}
.articles-container {
    margin: 10px 560px 18px 1147px;
    border: solid black;
    background-color: aliceblue;
    border-radius: 1em;
}