* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
}
.articles-containers {
  width: 40rem;
}
.articleSearch {
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 26rem;
  padding: 10px;
  background-color: #000;
  border-radius: 0.5rem;
  margin-bottom: 5px;
  transition: .3s ease;
  break-inside: avoid-column;
}
.articleSearch:hover {
    background-color: #3a3a3a;
    cursor: pointer;
    box-shadow: 0 0 10px #666666;
  }
.postDesc {
  display: flex;
  flex-direction: column;
  
}
.categoryPost {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    color: #929292;
    cursor: pointer;
}
.subtitlePost {
  font-size: 1rem;
  margin: 0;
  margin-top: 0;
  margin-bottom: 1rem;
}

.titlePost {
  margin: 0;
  margin-top: 0.5rem;
}
.imgPost {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 11rem;
  border-radius: 15px;
}
.listPosts {
  column-count: 2;
  list-style: none;
  padding: 0;
}
.containerSearchAll {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.recent-articles {
  margin-left: 5rem;
}
.recent-post-list {
  list-style: none;
}
.recent-article-search {
  height: 6rem;
  margin-top: 0.5rem;
  width: -webkit-fill-available;
  display: flex;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: .3s ease;
  background-color: #000;
  img {
    max-width: 12rem;
  }
}
.recent-article-search:hover {
  background-color: #3a3a3a;
  cursor: pointer;
  box-shadow: 0 0 10px #666666;
}
a {
    color: #fff;
    text-decoration: none;
}
.recent-description {
  display: flex;
  width: -webkit-fill-available;
  flex-direction: column;
  margin-left: 1rem;
  h3 {
    font-size: 1em;
    margin-bottom: 1em;
  }
  p {
    font-size: 0.8em;
  }
}
.recent-image {
  height: 100%;
  width: 30%;
  object-fit: cover;
  border-radius: 15px;
}
.pagination {
  height: 5rem;
  margin-bottom: 0;
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.paginationItem {
  display: flex;
  height: 1rem;
  padding: 0.8rem;
  cursor: pointer;
  width: 2rem;
  border: 1px solid;
  border: none;
  border-radius: 0.5rem;
  background-color: #023e8a;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  transition: 0.2s ease;
  color: #fff;
  p {
    background-color: #023e8a;
  }
}
.paginationItem:hover {
  background-color: #0259ca;
  p {
    background-color: #0259ca;
  }
}
@media (max-width: 1024px) {
  .containerSearchAll {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .articles-containers {
    width: -webkit-fill-available;
  }
  h2 {
    font-size: 2rem;
  }
  .articleSearch {
    width: -webkit-fill-available;
    height: auto;
    padding: 10px;
    border: 1px solid #000;
    background-color: #000;
    border-radius: 0.5rem;
    margin-bottom: 5px;
    justify-content: space-evenly;
  }
  
  .recent-articles {
    margin-left: 0;
    padding: 1rem;
    width: -webkit-fill-available;
  }
  .recent-articles h2 {
    font-size: 2rem;
  }
  .recent-article-search {
    display: flex;
    height: 7rem;
    width: -webkit-fill-available;
    background-color: rgb(45, 45, 45);
    padding: 5px;
    border: 1px solid rgb(45, 45, 45);
    border-radius: 0.5rem;
  }
  .recent-image {
    height: 100%;
    width: auto;
    object-fit: cover;
    border-radius: 15px;
  }
  .recent-description {
    display: flex;
    width: -webkit-fill-available;
    flex-direction: column;
    align-items: center;
    margin-left: 5px;
  }
  .recent-description {
    h3 {
      font-size: 1em;
      margin-bottom: 0.5em;
    }
  }
  .recent-description {
    p {
      font-size: 1em;
    }
  }
}

@media (max-width: 766px) {
  .listPosts {
    list-style: none;
    display: flex;
    flex-direction: column;
  }
  .articleSearch {
    width: -webkit-fill-available;
    height: auto;
    padding: 10px;
    border: 1px solid #000;
    background-color: #000;
    border-radius: 0.5rem;
    margin-bottom: 5px;
    align-self: center;
  }
  .containerSearchAll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .recent-article-search {
    display: flex;
    height: 4rem;
    width: -webkit-fill-available;
    background-color: rgb(45, 45, 45);
    padding: 5px;
    font-size: 1em;
    border: 1px solid rgb(45, 45, 45);
    border-radius: 0.5rem;
  }
  .recent-post-list {
    list-style: none;
    width: -webkit-fill-available;
  }
  .articles-containers {
    width: -webkit-fill-available;
  }
  h2 {
    font-size: 1.5rem;
  }
  .recent-articles h2 {
    font-size: 1.5rem;
  }
}
