*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(33, 33, 33, 1);
    color: white;
}
.searchBar{
    width: 300px;
    height: 36;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 0.5rem;
    border-color: #0E2E59;
}
.articles-containers{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 25px;
    margin-left: 300px;
    background-color: black;
}
.article{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 168px;

}
.categoryPost{
    font-size:small;
    background-color: black;
}
.subtitlePost{
    font-size: x-small;
    background-color: black;
}
.article img{
    display: flex;
    
}
.titlePost{
    background-color: black;
}
.imgPost{
    max-width: auto;
    max-height: 1000px;
}