* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #e3e3e3;
    margin: 0;
    padding: 0;
}

#containerAllReaderRecent {
    display: flex;
    justify-content: center;
}
#containerAllReader {
    display: flex;
    justify-content: center;
}
.recent-post-list h4 {
    margin-top: 1rem;
}
/* ARTICULO CENTRAL */
.categoriesReader {
    grid-column-start: 7;
    grid-column-end: 16;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

#categoriesReader {
    display: flex;
    flex-wrap: nowrap;
    padding: 10px 0;
}

.category {
    margin-right: 10px;
    padding: 5px;
    border-radius: 10px;
}

.category:hover {
    text-shadow: 0 0 15px #e3e3e3;
}

#readerTitle {
    background-color: #0e0e0e;
    border: 0.5px solid #1e1f20;
    padding: 10px;
    border-radius: 0.5em;
    margin-bottom: 0;
}

#reader {
    background-color: #0e0e0e;
    padding: 0 10px 10px;
    border: 0.5px solid #1e1f20;
    border-radius: 0.5em;
    margin-bottom: 20px;
}

#readerSubtitle {
    padding-top: 5px;
}

#readerPortrait {
    width: 100%;
    padding: 10px 0;
}

#author {
    display: flex;
    align-items: center;
    max-height: 70px;
    padding-bottom: 10px;
    margin-right: auto;
}

#author:hover {
    text-shadow: 0 0 15px #e3e3e3;
}

#author img {
    max-height: 35px;
    padding-right: 10px;
}

hr {
    border: 0.1px solid #858585;
}
#category2 {
    margin-bottom: 0;
}
#author p {
    margin-bottom: 0;
}

#descriptionReader {
    padding: 10px 0 20px;
}

/* ARTICULOS LATERALES */
#recentPosts {
    margin: 50px 0 0 45px;
    grid-column-start: 16;
    grid-column-end: 20;
    grid-row-start: 1;
}

#recentPosts h2 {
    padding-bottom: 15px;
}

.recent {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    max-height: 80px;
    background-color: #0e0e0e;
    border-radius: 0.5em;
}

.recent:hover {
    box-shadow: 0 0 15px #e3e3e3;
}

.recent img {
    max-width: 100px;
    min-height: 75px;
    padding: 5px 10px 5px 5px;
}

.recent div {
    padding: 5px 5px 5px 0;
}

@media (max-width: 1820px) {
    .categoriesReader {
        grid-column-start: 2;
        grid-column-end: 14;
    }

    #recentPosts {
        grid-column-start: 14;
        grid-column-end: 20;
    }
}

@media (max-width: 1220px) {
    .categoriesReader {
        grid-column-start: 2;
        grid-column-end: 20;
    }

    #recentPosts {
        grid-column-start: 5;
        grid-column-end: 15;
        grid-row-start: 2;
        margin: 15px 0 0;
    }
}

@media (max-width: 1024px) {
    #recentPosts {
        grid-column-start: 3;
        grid-column-end: 19;
    }
}

@media (max-width: 767px) {
    #recentPosts {
        grid-column-start: 2;
        grid-column-end: 20;
    }
}
