body {
    background-color: #212121;
}
.user-name {
    display: flex;
    margin: 12px;
    justify-content: space-between;
    width: -webkit-fill-available;
    padding: 0rem 0rem;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: -webkit-fill-available;
}
.remember-password {
  margin: 12px 1px 2px ;
}
.form-user{
   text-align: center;
   font-size: 1.1em;
}
.password{
    margin: 12px;
    text-align: center;
    font-size: 1em;
    padding: 2px 20px;
    min-width: -webkit-fill-available;
    height: 4em;
  background-color: #458DFA;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
    transition: ease .2s;
  } 
  .password:hover {
    background-color: #7cadf8;
  }
  .password:active {
    background-color: #458DFA;
  }



.form {
  background-color: #FFFFFF;
  height: fit-content;
  padding: 0 5px 5px 5px;
  border: 1px solid #FFFFFF;
  width: 25rem;
    position: relative;
  display: flex;
  flex-direction: column;
  align-self: center;
  border-radius: 1rem;
  font-size: 16px;
line-height: 2;

    
   
}
.text-registrer{
    font-size: 14px;
    text-align: left;
  line-height: 1;
  margin: 1rem 0 0 0;
  padding: 1em 1em;
}

.title {
  text-align: center;
  padding: 0px 5px 5px ; 
}
.textreg {
  margin: 1px 12px 0px;
}
.textArea {
    background-color:transparent;
    border: none;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000 ;
    border-right: 2px solid #000;
    border-radius: 0.5rem;
    height: 3em;
    padding: 20px;
    margin: 12px;
}
.username {
  width: 10rem;
  margin: 0;
}
.container {
  min-height: 100dvh;
  display: grid;
}