* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



body {
    background-color: #212121;
}
.user-name {
    display: flex;
    margin: 0px;
    justify-content: space-between;
    width: -webkit-fill-available;
    padding: 0rem 0rem;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: -webkit-fill-available;
}
main {
    display: flex;
    align-content: center;
    justify-content: center;
}
.remember-password {
  margin: 12px 1px 2px ;
}
.form-user{
    margin: 12px;
   text-align: center;
   font-size: large;
}
.password{
    margin: 12px;
    text-align: center;
    font-size: 1em;
    padding: 2px 20px;
    min-width: -webkit-fill-available;
    height: 4em;
  background-color: #458DFA;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
    transition: ease .2s;
  } 
  .password:hover {
    background-color: #7cadf8;
  }
  .password:active {
    background-color: #458DFA;
  }



.form {
  background-color: #fff;
  height: fit-content;
  padding: 0 5px 5px 5px;
  border: 3px solid #fff;
  width: 25rem;
  top: 15dvh;
    position: relative;
  display: flex;
  flex-direction: column;
  align-self: center;
  border-radius: 1rem;
  font-size: 16px;
line-height: 2;

    
   
}
.text-registrer{
    font-size: 14px;
    text-align: left;
  line-height: 1;
  padding: 1em 1em;
}
ul {
    list-style: none;
}
ul li a {
    text-decoration: none;
    color:black;
    font-weight: 700;
    font-size: 1.5em;
}
.title {
  font-size: 20px;
  text-align: center;
  padding: 0px 5px 5px ; 
}
.text {
  margin: 1px 12px 0px;
}
.textArea {
    background-color:transparent;
    border: none;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000 ;
    border-right: 2px solid #000;
    border-radius: 0.5rem;
    height: 3em;
    padding: 20px;
    margin: 12px;
}
.username {
  width: 10rem;
}
.user-name p {
  padding-left: 1rem;
}
label {
  padding-left: 1rem;
}