* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #1e1f20;
    color: #fff;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

#content {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    grid-column-start: 2;
    height: 500px;
    min-width: 300px;
    background-color: #0e0e0e;
    align-items: center;
    margin-top: 40%;
    justify-content: space-between;
    border-radius: 1em;
}

#send {
    /* exclusiveFrom: recoverySend */
    justify-content: center;
}
form#resetPwdForm {
    width: 60%;
}
i.toggle-password {
    position: relative;
    top: -3.5rem;
    left: 87%;
    cursor: pointer;
}
#content #entireForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: -webkit-fill-available;
}

h1 {
    background-color: #0e2e59;
    width: 100%;
    text-align: center;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
    font-size: large;
    margin: 0 10px 15px;
}

.recInp {
    background-color: #0e0e0e;
    padding: 0 5px 5px;
    border: 1px solid #e3e3e3;
    color: #fff;
    width: 95%;
    border-radius: 1rem;
    font-size: 1em;
    line-height: 3;
    border-right: #0e0e0e;
    border-top: #0e0e0e;
    border-left: #0e0e0e;
    margin: 0 10px 15px;
}
.recInp:hover {
    box-shadow: 0 0 5px #e3e3e3;
}
.button {
    background-color: #0292fa;
    color: #e3e3e3;
    font-size: large;
    padding: 15px 0px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-color: #0e0e0e;
    width: 90%;
}

.button:hover {
    background-color: #02abfa;
    box-shadow: 0 0 5px #e3e3e3;
    cursor: pointer;
}
.buttonSbmt {
    background-color: #0292fa;
    color: #e3e3e3;
    font-size: large;
    padding: 15px 0px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-color: #0e0e0e;
    width: -webkit-fill-available;
}
.buttonSbmt:hover {
    background-color: #02abfa;
    box-shadow: 0 0 5px #e3e3e3;
    cursor: pointer;
}
#alertbad {
    background-color: #f8d7da;
    width: -webkit-fill-available;
    border-radius: 0.5rem;
    color: #000;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    font-size: 1rem;
    p {
        padding: 1rem;
        margin: 0;
    }
}
#alertgood {
    background-color: #d4edda;
    border-radius: 0.5rem;
    width: -webkit-fill-available;
    color: #000;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    font-size: 1rem;
    p {
        padding: 1rem;
        margin: 0;
    }
}