html {
    background-color: white;
 }
 .container {
     width: 1240px;
     height: 816px;
     background-color: rgb(12, 40, 78);
     margin: auto;
     border: 55px;
     border: 55px;
     border-radius: 35px;
     color: white;
 }
 .name {
     position: relative;
     padding: 0 0 0 350px;
     color: #000;
     font-size: 50px;
 }
 .text {
     position: relative;
     padding: 0 0 0 50px;
 }
 .contentPage {
     position: relative;
     padding: 0 0 0 50px;
 }
 .nav-config {
     position: relative;
     padding: 0 0 0 50px;
 }
 .image {
     
 }